<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.financemanagement"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.org.financemanagement.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonalFinance"></activity>
        <activity android:name=".MonthlyIncome"></activity>
        <activity android:name=".CreditCardLimit"></activity>
		<activity android:name=".PersonalExpense"></activity>
		<activity android:name=".ExpenseItem"></activity>
		<activity android:name=".GroupFinance"></activity>
		<activity android:name=".GroupSheet"></activity>
		<activity android:name=".GroupPersonDetails"></activity>
		<activity android:name=".GroupExpenseDetails"></activity>
		<activity android:name=".GroupPerson"></activity>
		<activity android:name=".GroupExpense"></activity>
    </application>

</manifest>